<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Submit New Track</title>
		<% include ../partials/head.ejs %>	
</head>
<body>
  <header>
        <% include ../partials/header %>
    </header>
<center>
<form action="/tracks" method="POST" class="jumbotron">
	<p>
	<label for="track_title">Title:</label>
	<input type="text" id="track_title" name ="track[title]" value="" placeholder="e.g Cruisin" required>
	</p>
	<p>
	<label for="track_age">Author</label>
	<input type="text" id="track_author" name ="track[author]" value="" placeholder="DJ Example" required>
	</p>
	<p>
	<label for="track_year">Year</label>
	<input type="text" id="track_year" name ="track[year]" value="" placeholder="2015" required>
	</p>
	<p>
	<label for="track_url">Track URL:</label>
	<input type="text" id="track_url" name ="track[url]" value="" placeholder="http://www.example.com" >
	</p>
	<button type="submit">Submit</button>

</form>
</center>

	
</body>
</html>